
<!-- Start home-about Area -->
<section class="home-about-area section-gap">
	<div class="container">
		<div class="row align-items-center justify-content-between">
			<div class="col-lg-6 col-md-6 home-about-left">
				<img class="img-fluid" src="img/hero.jpg" alt="">
			</div>
			<div class="col-lg-5 col-md-6 home-about-right">
				<h1 class="text-uppercase">Raphael Ivan</h1>
				<p>
					Here, I focus on a range of items and features that we use in life without giving them a second thought. such as Coca Cola. Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
				</p>
				<a href="#" class="primary-btn text-uppercase">View Full Details</a>
			</div>
			<div class="col-lg-12 pt-60">
				<p>
					It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its popularity and technological advancement are concerned. The history of video game is as interesting as a fairy tale. 
				</p>
				<p>
					The quality of today’s video game was not at all there when video game first conceptualized and played ever. During the formulative years, video games were created by using various interactive electronic devices with various display formats. The first ever video game was designed in 1947 by Thomas T. Goldsmith Jr. 								
				</p>
			</div>
		</div>
	</div>	
	</section>
	<!-- End home-about Area -->	

	<!-- Start timeline Area -->
	<section class="timeline pb-120">
	<div class="text-center">
			<div class="menu-content pb-70">
					<div class="title text-center">
							<h1 class="mb-10">Evolução Profissional</h1>
							<p> Um resumo do que fiz até hoje com meu tempo </p>
					</div>
			</div>
	</div>				
	<ul>
		<li>
			<div class="content">
				<h4>
					<time>minhacnh.com.br</time>
					<br>
					<small>Falecida!  </small>
				</h4>
				<p><b>Session:</b> 2006-09</p>
				<p><b>Result:</b> 3.40 (In the Scale of 4.00)</p>
			</div>
		</li>
		<li>
			<div class="content">
				<h4>
					<time>Formação: Fatec Mococa-SP</time>
				</h4>
				<p><b>Session:</b> 2006-09</p>
				<p><b>Result:</b> 3.40 (In the Scale of 4.00)</p>
			</div>
		</li>
		<li>
			<div class="content">
				<h4>
					<time>eAgro Gestão Agrícola</time>
				</h4>
				<p><b>Session:</b> 2006-09</p>
				<p><b>Result:</b> 3.40 (In the Scale of 4.00)</p>
			</div>
		</li>
		<li>
			<div class="content">
				<h4>
					<time>Agromercador</time>
				</h4>
				<p><b>Session:</b> 2006-09</p>
				<p><b>Result:</b> 3.40 (In the Scale of 4.00)</p>
			</div>
		</li>
		<li>
			<div class="content">
				<h4>
					<time>Revista Cafeicultura</time>
				</h4>
				<p><b>Session:</b> 2006-09</p>
				<p><b>Result:</b> 3.40 (In the Scale of 4.00)</p>
			</div>
		</li>
	</ul>
</section>		

