
<!-- Start home-about Area -->
<section class="home-about-area section-gap">
	<div class="container">
		<div class="row align-items-center justify-content-between">
			<div class="col-lg-6 col-md-6 home-about-left">
				<img class="img-fluid" src="img/hero.jpg" alt="">
			</div>
			<div class="col-lg-5 col-md-6 home-about-right">
				<h1 class="text-uppercase">Raphael Ivan</h1>
				Filho de dona Maria Rita, nascido em Monte Santo de Minas, desde muito cedo despertei em mim a vontade de fazer diferente. Aos 21 anos fundei minha empresa de Desenvolvimento de Software, a falecida Hatuna. <br> Co-fundei 4 empresas. Algumas já falecidas, outra na briga pela liderença de mercado. <br>
				Produzo para criar uma sociedade melhor a minha volta, faço isto através das empresas ou através de projetos ao quais contríbuo.

				<p>
					Acredito que somente a riqueza pode acabar com a pobreza, seja financeira ou de espírito. 
				</p>

				<p>
					Acredito que somente a requiza pode acabar com a pobreza, seja financeira ou de espírito. 
				</p>
			</div>
		</div>
	</div>	
	</section>
	<!-- End home-about Area -->	

	<!-- Start timeline Area -->
	<section class="timeline pb-120">
	<div class="text-center">
			<div class="menu-content pb-70">
					<div class="title text-center">
							<h1 id='evolution' class="mb-10">Evolução Profissional</h1>
							<p> Um resumo de como investi meu tempo até o momento. </p>
					</div>
			</div>
	</div>				
	<ul>
		<li>
			<div class="content">
				<h4>
					<time> Hatuna Software House</time>
				</h4>
				<p class='text-center small'>Desenvolvimento de softwares gerenciais para pequenas empresas.</p>
				<p><b> Minha Saída:</b> 12/2011</p>
			</div>
		</li>
		<li>
			<div class="content">
				<h4>
					<time> Minha CNH</time>
				</h4>
				<p class='text-center small'>Plataforma de geração de voucher para alunos tirarem sua primeira CNH. Presente em mais de 50 cidade e 300 Autoescolas no Brasil</p>
				<p><b> Fechamento:</b> 08/2013</p>
			</div>
		</li>
		<li>
			<div class="content">
				<h4>
					<time>Formação: Fatec Mococa-SP</time>
				</h4>
				<p class='text-center small'> Gradução em Analises e Desenvolvimento de Sistema - ADS </p>
				<p><b> Conclusão:</b> 2017</p>
			</div>
		</li>
		<li>
			<div class="content">
				<h4>
					<time> eAgro Gestão Agrícola</time>
				</h4>
				<p class='text-center small'> Fundei a eAgro com o obejtivo de tornar o segmento agro mais lucrativo, através de uma plataforma conectável de Gestão Agrícola que permite o produto obter no mesmo local, todas as informações de uma fazenda </p>
				<p><b> Início:</b> 10/2015 </p>
				<p><b> Atual:</b> CEO </p>
				<br>
				<p class='text-center small'> <a href='https://www.eagro.ag'> www.eagro.ag </a> </p>
			</div>
		</li>
		<li>
			<div class="content">
				<h4>
					<time>Agromercador - Shopping do Produtor Rural</time>
				</h4>
				<p class='text-center small'> Um Market Place onde o produtor rural consegue encontrar insumos agrícolas e fazer cotações com mais de 1 milhão de fornecedores </p>
				<p><b> Participação:</b> Idealização do projeto e Kick Off </p>
				<p><b> Saída:</b> 01/2019 </p>
				<br>
				<p class='text-center small'> <a href='https://www.agromercador.ag'> www.agromercador.ag </a> </p>
			</div>
		</li>
		<li>
			<div class="content">
				<h4>
					<time> Redator  - Revista Cafeicultura  </time>
				</h4>
				<p class='text-center small'> Produzia conteúdos sobre Gestão Agrícola e Cafeicultura em geral.</p>
				<p><b> Início:</b> 06/2019 </p>
				<br>
				<p class='text-center small'> <a href='https://revistacafeicultura.com.br/index.php?tipo=ler&mat=67982&agora-e-hora-de-sobreviver-por-raphael-ivan---ceo-eagro.html'> www.revistacafeicultura.com.br </a> </p>
			</div>
		</li>
	</ul>
</section>		

