
<section class="contact-page-area section-gap">
	<div class="container">
		<div class="about-content col-lg-12">
			<a href="mailto:contato@raphaelivan.com.br">
				<h1 class="text-dark">
					Me enviar um email				
				</h1>	
			</a>
			<p class="link-nav"><a href="mailto:contato@raphaelivan.com.br" class='text-dark'>contato@raphaelivan.com.br</a></p>
		</div>	

	</div>
</section>
