

<!-- start banner Area -->
<section class="banner-area">
<div class="container">
<div class="row fullscreen align-items-center justify-content-between">
<div class="col-lg-6 col-md-6 banner-left">
<h6>Sou eu</h6>
<h1>Raphael Ivan</h1>
<p>
	Sou um jovem empreendedor com muita vontade de transformar a sociedade onde vive. Faço isto através de empresas que crio ou invisto e projetos ao quais contribuo.
</p>
<a href="/about" class="text-uppercase"> descubra um pouco mais</a>
</div>
<div class="col-lg-6 col-md-6 banner-right d-flex align-self-end">
<img class="img-fluid" src="img/hero-2.jpeg" alt="Raphael Ivan Palestrando">
</div>
</div>
</div>					
</section>
<!-- End banner Area -->

<!-- Start portfolio-area Area -->
<section class="portfolio-area section-gap" id="portfolio">
	<div class="container">
	<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
					<div class="title text-center">
							<h1 class="mb-10"> Projetos & Empresas </h1>
							<p>Aqui estão os projetos aos quais estou envidos</p>
					</div>
			</div>
	</div>
			
	<div class="filters">
		<ul>
			<li class="active" data-filter="*">Todos</li>
			<li data-filter=".company">Empresas</li>
			<li data-filter=".content">Educacional</li>
			<li data-filter=".social">Sociais</li>
		</ul>
	</div>
			
		<div class="filters-content">
			<div class="row grid">
				<div class="single-portfolio col-sm-4 all company">
					<div class="relative">
						<div class="thumb">
							<div class="overlay overlay-bg"></div>
								<img class="image img-fluid" src="img/p1.jpg" alt="">
							</div>
							<a href="img/p1.jpg" class="img-pop-up">	
								<div class="middle">
									<div class="text align-self-center d-flex"><img src="img/preview.png" alt=""></div>
								</div>
							</a>                              		
						</div>
						<div class="p-inner">
								<h4> <a href='http://eagro.ag'>eAgro Gestão Agrícola</a></h4>
							<div class="cat">Co-Founder & CEO</div>
						</div>					                               
					</div>
					
					<div class="single-portfolio col-sm-4 all content">
						<div class="relative">
							<div class="thumb">
								<div class="overlay overlay-bg"></div>
									<img class="image img-fluid" src="img/p3.jpg" alt="">
							</div>
							<a href="img/p3.jpg" class="img-pop-up">	
								<div class="middle">
									<div class="text align-self-center d-flex"><img src="img/preview.png" alt=""></div>
								</div>
							</a>                             		
						</div>
							<div class="p-inner">
									<h4><a href='http://fazendalucrativa.com.br'>Fazenda Lucrativa</a></h4>
									<div class="cat">Autor</div>
							</div>
					</div>

					<div class="single-portfolio col-sm-4 all social">
						<div class="relative">
							<div class="thumb">
								<div class="overlay overlay-bg"></div>
									<img class="image img-fluid" src="img/p2.jpg" alt="">
							</div>
							<a href="img/p2.jpg" class="img-pop-up">	
								<div class="middle">
									<div class="text align-self-center d-flex"><img src="img/preview.png" alt=""></div>
								</div>
							</a>                             		
						</div>
							<div class="p-inner">
									<h4><a href='https://www.bancodealimentos.org.br/'>Ong Banco de Alimentos</a></h4>
									<div class="cat">Doador</div>
							</div>
					</div>


				</div>
			</div>
			
	</div>
</section>
